# Deploy-specific configuration
/src/firebase-config-snippet.js.txt
/src/firebase-config.js
/.firebaserc
/firebase-admin-private-key.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-error.log*
*-debug.log*
*.cache

.idea
